body *{
    font-family: 'Verdana', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 70px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
    max-width: 45ch;
    margin: auto;
}


body {
    background-color: lightgray;
}

.page {
    width: 1500px;
    background-color: PapayaWhip;
    margin: auto;
    padding: 30px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.description-left {
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}
